extends template/default.tpl

block inside
	h1=title
	table.ui.striped.table
		thead
			tr
				th Image
				th Name
				th.center.aligned Controls
		tbody#table-mixer
			each post in postList
				tr.mix(id=post._id, data-date=post.date, data-name=post.title)
					td.left.aligned
						if post.image != ""
							- post.image = post.image.split('\\').join('/');  
							img.ui.mini.image(src=post.image, alt=post.title)
						else
							img.ui.mini.image(src="/images/undefined.png", alt=post.title)
					td= post.title
					td.center.aligned
						a.ui.blue.circular.icon.button(href="/"+post.type+"/edit/"+post._id)
							i.edit.icon
						a.ui.red.circular.icon.button.deletePost(href="#", data-name=post.title, data-id="#{post._id}", data-type=post.type)
							i.delete.icon
	.ui.dimmer
		.ui.small.modal
			.header Supprimer post
			.content
				p.
					Confirmer la suppression de 
					#[strong#categoryName null]
			.actions
				.ui.negative.button Non
				.ui.positive.right.button Oui

block aside
	.ui.vertical.menu
		h3.ui.header
			i.bookmark.icon
			.header Categories
			i.right.aligned.rotated.counterclockwise.dropdown.icon
		a.pink.item.filter(href="/admin/web", data-filter=".web") Web
		a.pink.item.filter(href="/admin/games", data-filter=".game") Jeux
		a.pink.item.filter(href="/admin/plugins", data-filter=".plugin") Plugins
	.ui.vertical.menu
		h3.ui.header
			i.sort.content.descending.icon
			.header Ordre
			i.right.aligned.rotated.counterclockwise.dropdown.icon
		a.pink.item.sort.reset(href="#date", data-sort="date:desc") Date
		a.pink.item.sort(href="#nom", data-sort="name:asc") Alphabétique