extends template/default.tpl

block inside
	h1= title
	#post-cards.ui.two.stackable.cards
		each post in completeList
			if (post.name)
				.card.mix.games
					.content.post-header
						h3.ui.header 
							a(href="#{post.url}") #{post.name}
					.content.post-description
						.ui.image
							if post.image != ""
								img(src="#{post.image}", alt=post.name)
							else
								img(src="/images/logo.png", alt=post.name)
						p= post.description
					.extra
						each category in post.categories
							a.ui.label(href="category/#{category}") #{ucfirst(category)}
			else
				.card.mix.posts
					.content.post-header
						h3.ui.header 
							a(href="#{post.url}") #{post.title}
					.content.post-description
						.ui.image
							if post.image != ""
								img(src="#{post.image}", alt=post.title)
							else
								img(src="/images/logo.png", alt=post.title)
						p= post.body
					.extra
						each category in post.categories
							a.ui.label(href="category/#{category}") #{ucfirst(category)}
	.ui.fluid.pagination.menu
		- for (var i=1; i <= total; i++)
			a.pink.item(href="/page-"+i, class=(i == page+1 ? 'active' : '')) #{i}

block aside
	.ui.vertical.menu
		h3#filters.ui.header
			i.filter.icon
			.header Filtres
			i.right.aligned.rotated.counterclockwise.dropdown.icon
		a.pink.item.filter.reset(href="#all", data-filter="all") Tous
		a.pink.item.filter(href="#posts", data-filter=".posts") Web
		a.pink.item.filter(href="#games", data-filter=".games") Jeux
	.ui.vertical.menu
		h3#layout.ui.header
			i.list.layout.icon
			.header Layout