extends template/display

block accordion
	each post in postList
		- var categories = post.categories.map(function(n){return n.toLowerCase();});
		.mix(class=post.categories, data-date=post.date, data-name=post.title, data-id=post._id)
			.title.clearfix
				i.dropdown.icon
				.header #{post.title}
				each category in post.categories
					.ui.label(data-label="#{category.toLowerCase()}") #{category}
			.content.clearfix
				.wrapper
					.ui.small.image
						if post.image != ""
							- post.image = post.image.split('\\').join('/'); 
							img(src="#{post.image}", alt="#{post.title}")
						else
							img(src="/images/undefined.png", alt="#{post.title}")
					.description
						p #{post.description}
						.bottom
							if post.type == "games"
								p Poids: #{post.size}
								a.ui.purple.button(href="#{post.url}", target="_blank").
									Télécharger
									#[i.download.icon]
							else
								a(href="#{post.url}", target="_blank") #{post.url}