extends template/default

block inside
	h1=title
	form#formAdd.ui.nine.wide.form(name="add", method="post", action="/"+type, enctype="multipart/form-data")
		.seven.wide.field
			label(for="inputTitle") Nom
			input#inputTitle(type="text", placeholder="Nom", name="inputTitle", required="")
		.seven.wide.field
			label(for="inputUrl") Lien
			input#inputUrl(type="text", placeholder="Lien", name="inputUrl")
		.nine.wide.field
			label(for="inputDescription") Description
			textarea#inputDescription(type="text", placeholder="Description", name="inputDescription")
		if (type == "games")
			.three.wide.field
				label(for="inputSize") Poids
				input#inputSize(type="text", name="inputSize")
		.seven.wide.field
			label(for="inputImage") Image
			input#inputImage(type="file", name="inputImage")
		.seven.wide.field
			label Catégorie
			select#inputCategory.ui.search.dropdown(multiple="", name="inputCategory", required="")
				each category in categoryList
					option(value="#{category.name}") #{category.name}
		.nine.wide.field
			button#btnSubmit.ui.submit.right.floated.button(type="submit") Enregistrer
		
block aside
	.ui.vertical.menu
		h3.ui.header.
			#[i.cubes.icon]
			Catégories
		.item
			form#formAddCategoryTop.ui.form(name="addcategory",method="post",action="categories")
				.ui.transparent.action.icon.input
					input#inputCategoryTop(type="text", placeholder="Ajouter catégorie", name="postCategory", required="", autocomplete="off")
					i.circular.blue.link.add.icon
		each category in categoryList
			.item #{category.name}
				.ui.blue.label #{category.nb}
		.item
			form#formAddCategoryBot.ui.form(name="addcategory",method="post",action="categories")
				.ui.transparent.action.icon.input
					input#inputCategoryBot(type="text", placeholder="Ajouter catégorie", name="postCategory", required="", autocomplete="off")
					i.circular.blue.link.add.icon
