extends template/default.tpl

block inside
	h1=item.title
	form#formEdit.ui.nine.wide.form(name="edit", method="post", action="/", enctype="multipart/form-data")
		.seven.wide.field
			label(for="inputTitle") Nom
			input#inputTitle(type="text", name="inputTitle", value=item.title)
		.seven.wide.field
			label(for="inputUrl") Lien
			input#inputUrl(type="text", name="inputUrl", value=item.url)
		.nine.wide.field
			label(for="inputDescription") Description
			textarea#inputDescription(type="text", name="inputDescription")= item.description
		if (type == "games")
			.three.wide.field
				label(for="inputSize") Poids
				input#inputSize(type="text", name="inputSize", value=item.size)
		.seven.wide.field
			label(for="inputImage") Image
			if (item.image != "")
				img.ui.small.image(src=item.image, alt=item.name)
			input#inputImage(type="file", name="inputImage")
		.nine.wide.field
			label Catégorie
			select#inputCategory.ui.search.dropdown(multiple="", name="inputCategory", required="")
				each category in categoryList
					option(value="#{category.name}") #{category.name}
		.nine.wide.field
			button#btnSubmit.ui.submit.right.floated.button(type="submit") Enregistrer

		script.
			function defer(item) {
				if (window.jQuery)
					$('.dropdown').dropdown('set selected', item);
				else
					setTimeout(function(){defer(item), 50});
			}
		each category in item.categories
			script defer("#{category}");