extends ../template/default.tpl

block inside
	h1.ui.header=title
		a.right.floated(href="games/add")
			i.add.square.icon
	#mixer.ui.styled.fluid.accordion
		each game in gameList
			.mix(class=game.categories[0].toLowerCase())
				.title.clearfix
					i.dropdown.icon
					.header #{game.name}
					each category in game.categories
						.ui.label(data-label="#{category.toLowerCase()}") #{category}
				.content.clearfix
					.wrapper
						.ui.small.image
							img(src="#{game.image}", alt="#{game.name}")
						.description
							p #{game.description}
							.bottom
								p Poids: #{game.size}
								a.ui.purple.button(href="#{game.url}", target="_blank").
									Télécharger
									#[i.download.icon]

block aside
	.ui.vertical.menu
		h3.ui.header.
			#[i.filter.icon]
			Filtres
		each category in categoryList
			a.pink.item.filter(
				href="##{category.name.toLowerCase()}", 
				data-filter=".#{category.name.toLowerCase()}"
			) #{category.name}
		a.pink.item.filter.reset(href="#all", data-filter="filter-all") Reset filters