extends ../template/blog.tpl

block inside
	h1=title
	ul
		each user, i in userlist
			li(id="#{user._id}") #{user.name} - #{user.password}  
				a.deleteUser(href="#", rel="#{user._id}") X
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum
	p Lorem ipsum