extends ../template/default.tpl

block inside
	h1.ui.header=title
		a.right.floated(href="posts/add")
			i.add.square.icon
	#mixer.ui.styled.fluid.accordion
		each post in postList
			.mix(class=post.categories)
				.title.clearfix
					i.dropdown.icon
					.header #{post.title}
					each category in post.categories
						.ui.label(data-label="#{category.toLowerCase()}") #{category}
				.content.clearfix
					.wrapper
						.ui.small.image
							img(src="/images/#{post.image}", alt="#{post.title}")
						.description
							p #{post.body}
							.bottom
								a(href="#{post.url}", target="_blank") #{post.url}

block aside
	.ui.vertical.menu
		h3.ui.header
			i.filter.icon
			.header Filtres
			i.right.aligned.rotated.counterclockwise.dropdown.icon
		each category in categoryList
			a.pink.item.filter(
				href="##{category.name.toLowerCase()}", 
				data-filter=".#{category.name}",
			) #{category.name}
		a.pink.item.filter.reset(href="#all", data-filter="all") Reset filters