extends default

block inside
	h1.ui.header=title
		a.right.floated(href=route + "/add")
			i.add.square.icon
	#mixer.ui.styled.fluid.accordion
		block accordion

block aside
	.ui.vertical.menu
		h3.ui.header
			i.sort.content.descending.icon
			.header Ordre
			i.right.aligned.rotated.counterclockwise.dropdown.icon
		a.pink.item.sort.reset(href="#date", data-sort="date:desc") Date
		a.pink.item.sort(href="#nom", data-sort="name:asc") Alphabétique
	.ui.vertical.menu
		h3#filters.ui.header
			i.filter.icon
			.header Filtres
			i.right.aligned.rotated.counterclockwise.dropdown.icon
		a.pink.item.filter.reset(href="#all", data-filter="all") Voir tous
		each category in categoryList
			a.pink.item.filter(
				href="##{category.name.toLowerCase()}", 
				data-filter=".#{category.name}",
			) #{category.name}